#navbar {
    margin: 5px 20px;

    #navbar-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        width: 60vw;

        #card {
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 100px;

            #title {
                font-size: 30px;
                margin-bottom: 5px;
            }
            #description {
                font-size: 17px;
            }
        }
        #navbar-links {
            padding: 40px 0;

            .link {
                margin: 0px 9px;
                color: #a8a8a8;
                text-decoration: none;
                transition: color .2s;
                outline: none;

                &:hover {
                    color: white;
                    transition: color .2s;
                }
            }
            .active {
                color: #ffeb99;
            }
        }
    }
}