<!DOCTYPE html>
html(lang="en")
    head
        include includes/head.pug
        link(rel="stylesheet" href="/css/contact.css")

    body(class="preload")
        #container
            include includes/navbar.pug
            #contacts
                for contact of contacts
                    p.contact
                        a(href=contact.url) #{contact.name}
        script(src="/js/preload.js")