<!DOCTYPE html>
html(lang="en")
    head
        include includes/head.pug
        link(rel="stylesheet" href="/css/style.css")

    body(class="preload")
        #container
            include includes/navbar.pug
            #projects
                for project of projects
                    .project
                        h1#title #{project.title}
                        #links
                            for link of project.links
                                a(href=link.url).link #{link.name}
                                if project.links.indexOf(link) !== project.links.length - 1
                                    p |
                        p#description #{project.description}
        script(src="/js/preload.js")