meta(name="Description" content="Programmer from Poland.")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="theme-color" content="#0f0f0f")
meta(name="twitter:card" content="summary")
meta(name="twitter:site" content="https://nimplex.xyz")
meta(name="twitter:creator" content="@Nimplexy")
meta(property="og:title" content="Nimplex - Personal Website")
meta(property="og:description" content="Programmer from Poland.")
meta(property="og:image" content="https://nimplex.xyz/assets/logobg.png")
meta(property="og:url" content="https://nimplex.xyz")
meta(name="theme-color" content="#ebc334")
meta(charset="UTF-8")
link(rel="stylesheet" href="/css/navbar.css")
link(rel="shortcut icon", href="/assets/logobg-96.png", type="image/png")
link(rel="manifest" href="manifest.json")
link(rel="apple-touch-icon" href="/assets/logobg-512.png")
- const title = page.charAt(0).toUpperCase() + page.slice(1)
title Nimplex - #{title}